.layout-inner {
  max-width: $max-width;
  margin: auto;
  padding: 0 0.5rem;
}

.current-menu-item a {
  text-decoration: underline !important;
  //border-bottom: 1px solid currentColor;
}
.current-lang a {
  text-decoration: underline !important;
}
