.site {

}

.site-header {

}

.site-branding {

}

.site-title {

}

.site-claim {

}

.site-description {
  color: var(--purple1);
}

.main-navigation {

}

.menu-toggle {

}

.site-main {


}

.layout-inner {
  max-width: $max-width;
  margin: auto;
  padding: 0 0.5rem;
}
