.layout-inner {
  max-width: $max-width;
  margin: auto;
  padding: 0 0.5rem;
}


.site-header .current-menu-item a {
  text-decoration: underline !important;
  //border-bottom: 1px solid currentColor;
}
.current-lang a {
  text-decoration: underline !important;
}

.masthead {
  position: relative;
  z-index: 10;
}
