:root {
  --purple1: #641BFF;
  --purple2: #7F1BFF;
  --purple3: #9A00F9;
  --purple4: #C18FFF;
  --purple5: #D5BEF3;
  --black: #000000;
  --white: #ffffff;
  --grey: #E5E5E5;
  --color: #c0ffee;

  --gradient1: linear-gradient(180deg, #641BFF 0%, #9A00F9 100%);
  --gradient2: linear-gradient(180deg, #9A00F9 0%, #641BFF 100%);
  --gradient3: linear-gradient(180deg, #641BFF 0%, #E5E5E5 100%);
  --gradient4: linear-gradient(180deg, #C18FFF 0%, #7F1BFF 100%);
  --gradient5: linear-gradient(180deg, #7F1BFF 0%, #D5BEF3 100%);


}
