.site-artists {
  padding-bottom: var(--s-115);

  @media screen and (min-width: $bp-s) {
    .layout-inner {
      display: grid;
      grid-template-columns: repeat(12, calc(100% / 12));
    }
  }
}

.artists-list {
  list-style: none;
  margin: 0;
  padding: 0;

  grid-column: 2 / span 10;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - (var(--s-10) / 2)));
  grid-gap: var(--s-10);

  li:nth-child(2n) {
    transform: translateY(1em);
  }

  .type-rebeldes_artists a {
    display: flex;
    flex-flow: column-reverse nowrap;
    padding: 0 0 var(--s-20);
    color: var(--black);
    text-decoration: none;
    img {
      transform-origin: center;
      transition: transform 200ms ease-in-out;
    }
    &:hover,
    &:active {
      img {
        transform: scale(1.2) !important; // the joke is the extra scale comes from the js parallax
      }

    }
  }

  .entry-header {
    padding: 0 var(--s-10);
    position: relative;
    z-index: 7;
  }

  .entry-title {
    font-size: var(--h-b);
    margin: 0;
  }

  .entry-image {
    overflow: hidden;
    position: relative;
    z-index: 6;
    max-height: 350px;
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.25));
  }

  @media screen and (min-width: $bp-s) {
    grid-template-columns: repeat(4, calc(25% - ((var(--s-20) * 3) / 4)));
    grid-gap: var(--s-10);

    .entry-header {
      padding: 0 var(--s-10);
    }
    .entry-image-canvas {
      height: 30vw;
    }
  }
  @media screen and (min-width: $bp-m) {
    grid-gap: var(--s-20);
    .entry-header {
      padding: 0 var(--s-20);
    }
  }
  @media screen and (min-width: $bp-l) {
    .entry-header {
      transform: translateY(-0.5em);
    }
    .entry-title {
      font-size: var(--h-l);
    }
  }
}

.artists-overview {
  color: var(--purple2);
  margin: var(--s-40) 0 var(--s-60);
  padding: var(--s-20) 0 var(--s-20);
  border-top: dashed 2px currentColor;
  border-bottom: dashed 2px currentColor;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.1;
  }
  li {
    display: inline;
    font-size: var(--h-s);
    font-weight: 500;
    &:not(:last-of-type):after {
      content: "*";
      display: inline-block;
      margin: 0 0.2em 0 0.3em;
    }
  }
  a {
    color: var(--purple2);
    text-decoration: none;
    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  @media screen and (min-width: $bp-s) {
    margin: var(--s-60) 0 var(--s-60);
    padding: var(--s-40) 0 var(--s-40);
    li {
      font-size: var(--h-2m);
    }
    .layout-inner {
      display: grid;
      grid-template-columns: repeat(12, calc(100% / 12));

    }
    ul {
      grid-column: 4 / span 8;
    }
  }
}


.site-single-artist {
  .entry-title {
    font-size: var(--h-xl);
    margin: 0;
    background: var(--gradient5);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    line-height: 1;
  }
  h2, h3 {
    font-size: var(--h-2m);
    text-transform: initial;
  }
  .entry-content {
    p {
      font-size: var(--r-s);
    }
    a {
      color: var(--black);
      font-weight: 500;
    }
  }

  figcaption,
  .wp-block-embed + p {
    text-align: left !important;
    font-size: var(--r-2xs) !important;
    margin-top: var(--s-10) !important;
    @media screen and (min-width: $bp-s) {
      padding-left: var(--s-20) !important;
      width: 75% !important;
    }
  }
  figure figure + figcaption {
    margin-top: 0 !important;
  }
  .layout-inner {
    display: grid;
    grid-template-columns: repeat(6, calc(100% / 6));
    grid-template-rows: 330px auto 1fr;
    margin-top: -3.5em;

    .entry-image {
      grid-column: 1 / span 5;
      grid-row: 1;
      filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.25));
      overflow: hidden;

      img {
        height: 330px;
        width: auto;
        //object-fit: cover;
      }


      figcaption {
        display: none;
      }
    }
    .entry-header {
      grid-column: 2 / span 5;
      grid-row: 2;
      transform: translateY(-0.5em);
      position: relative;
      z-index: 2;
    }
    .entry-content {
      grid-column: 1 / span 6;
      grid-row: 3;
    }
    .artist-video {
      p {
        margin: 0;
        font-size:  var(--r-2xs);
        line-height: 1.5;
      }
      .wp-block-embed {
        margin: 0;
      }
    }
    .artist-gallery {
      margin: var(--s-60) 0 var(--s-90);
    }
    .wp-block-gallery.has-nested-images figure.wp-block-image figcaption {
      color: inherit;
      position: static;
      background: none;
    }
    .wp-block-gallery.has-nested-images {
      align-items: center;
    }

    @media screen and (min-width: $bp-s) {
      .entry-header {
        transform: translateY(-0.8em);
      }
      .entry-title {
        font-size: var(--h-2xl);
      }
    }

    @media screen and (min-width: $bp-m) {
      display: grid;
      grid-template-columns: repeat(24, calc(100% / 24));
      grid-template-rows: 240px auto 64px 1fr;
      margin-top: -5em;

      .entry-header {
        grid-column: 9 / span 14;
        grid-row: 2;
        transform: translateY(0);
      }

      .entry-image {
        grid-column: 3 / span 8;
        grid-row: 1 / span 4;

        img {
          min-height: 330px;
          height: auto;
          object-fit: cover;
        }


        figcaption {
          display: block;
        }
      }

      .entry-content {
        grid-column: 3 / span 20;
        grid-row: 4 / span 2;

        display: grid;
        grid-template-columns: repeat(20, calc(100% / 20));
        grid-template-rows: 1fr auto auto auto;

        .artist-bio {
          grid-column: 10 / span 11;
          grid-row: 1;
          padding-bottom: var(--s-90);
        }
        .artist-video {
          grid-column: 1 / span 8;
          grid-row: 3
        }
        .artist-installation {
          grid-column: 10 / span 11;
          grid-row: 4
        }
        .artist-gallery {
          margin-top: -1em;
          grid-column: 1/ span 20;
          grid-row: 2
        }
      }

      .entry-title {
        font-size: var(--h-3xl);
      }
      h2, h3 {
        font-size: var(--h-l);
      }
    }
    @media screen and (min-width: $bp-l) {
      .entry-header {
        grid-column: 9 / span 10;

      }
    }
  }
}


@keyframes jumpy {
  0% {
    transform: scale(1.1) translate3d(0, 0em, 0);
  }
  12% {
    transform: scale(1.1) translate3d(0, -0.4em, 0);
  }
  100% {
    transform: scale(1.1) translate3d(0, 0.4em, 0);
  }
}
