.site-page {
  .rebeldes_curators {
    .entry-title {
      margin: 0;
      background: var(--gradient5);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      font-size: var(--h-xl);
    }

    display: flex;
    flex-flow: column nowrap;

    .entry-image {
      order: 1;
      z-index: 1;
      overflow: hidden;
    }

    .entry-header {
      order: 2;
      z-index: 2;
      transform: translateY(-0.65em);
      padding-left: var(--s-40);

    }
    .entry-content {
      order: 3;
    }
    .entry-subtitle {
      font-size: var(--h-l);
      font-weight: 500;
    }

    @media screen and (min-width: $bp-s) {
      display: grid;
      grid-template-rows: 280px auto 34px 1fr;
      grid-template-columns: repeat(24, 4.17%);
      padding: 0 var(--s-10) var(--s-115);

      .entry-header {
        grid-column: 9 / span 17;
        grid-row: 2;
        transform: translateY(0);
        padding-left: 0;
        padding-bottom: var(--s-90);
      }

      .entry-title {
        line-height: 1;
        font-size: var(--h-3xl);
      }
      .entry-subtitle {
        font-size: var(--h-l);
        font-weight: 500;
      }

      .entry-content {
        grid-column: 12 / span 11;
        grid-row: 3 / span 2;
      }
      .entry-image {
        height: auto;
        grid-row: 1 / span 3;
        grid-column: 3 / span 8;

      }
    }
    @media screen and (min-width: $bp-m) {
      .entry-header {
        grid-column: 9 / span 11;
      }
    }
  }
}
